  <div>
       <div class="header" style="background-color: #f2f2f2">
              <h3>ESTIMATE BILL</h3>
            </div>
<div class="details ">
    <table class="details-table " >
      <!-- <tr style="height: 30px !important;">
          <td colspan="2" style="height: 50px !important;">
              <div class="header">
              <h3>ESTIMATE BILL</h3>
              <p>Your One-Stop Shop for Fireworks</p>
            </div>
          </td>
      </tr> -->
        <tr>
           <td colspan="1" style="padding-top: 0;">
              <strong>Billed To:</strong><br>
                {{commonService.clientname}}<br>
                {{commonService.clientAddress}}<br>
               <strong>Phone No:</strong>{{commonService.clientphoneno}}
            </td>
            <td colspan="1" style="width: 40%;">
                <strong>Billed From:</strong><br>
              <strong>Saravana Kumar:</strong>  3636435435 <br>
              <strong>Vinod (WhatsApp):</strong>  345365345<br>
              <!-- <strong>Balaram:</strong>  345365345><br> -->
                <strong>Invoice #:</strong> EST{{commonService.estimateNo}}<br>
                <strong>Date:</strong> {{commonService.estimateDate |date:'dd-MM-yyyy'}}
            </td>
        </tr>
    </table>
</div>
  
<table class="bill-table">
    <thead>
        <tr>
            <th >S.No</th>
            <th style="width: 900px;">Item</th>
            <th class="number">Price</th>
            <th class="number">Quantity</th>
            <th class="number">Total</th>
        </tr>
    </thead>
    <tbody>
        <!-- You can manually add, edit, or remove these <tr> blocks -->
         <tr *ngFor="let item of commonService.rows let i = index">
          <td>{{ i + 1}}</td>
          <td>{{ item.productName }}</td>
          <td class="number">₹{{ item.price.toFixed(2) }}</td>
          <td class="number">{{ item.quantity }}</td>
          <td class="number">₹{{ item.total.toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end number">Subtotal</td>
          <td>₹{{ commonService.subtotalAmount.toFixed(2) }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end number">Discount ({{ commonService.discountPercent }}%)</td>
          <td>₹{{ commonService.totalDiscountPrice.toFixed(2) }}</td>
        </tr>
        <tr class="total-row">
          <td colspan="4" class="text-end number">Grand Total</td>
          <td>₹{{ commonService.totalAmount.toFixed(2) }}</td>
        </tr>
    </tbody>
</table>

<div class="summary" [style.display]="commonService.extradis ? 'block' : 'none'">
    <p><strong> EXT Total Discount ({{ commonService.ExtdiscountPercent }}%) :</strong>  {{ commonService.ExttotalDiscountPrice.toFixed(2) }}</p>
    <p><strong>Grand Total: </strong> {{ commonService.ExttotalAmount.toFixed(2) }}</p>
</div>

<div >
  <p class="header">Thank you for your purchase. Have a safe and joyful celebration!</p>
</div>
    
  </div>
