<mat-nav-list>
  <a mat-list-item class="hovering" (click)="navigatetopage('Billing')">
    <div class="itemcls">
       <i class="bi bi-coin" style="zoom: 1.5; margin-right: 4px;"></i>
    <span *ngIf="expanded">Billing</span>
    </div>
   
  </a>
  <a mat-list-item (click)="navigatetopage('Productlist')">
    <div class="itemcls">
      <i class="bi bi-truck" style="zoom: 1.5; margin-right: 4px;"></i>
    <span *ngIf="expanded">Productlist</span>
    </div>
  </a>
  <a mat-list-item (click)="navigatetopage('Billdetails')">
    <div class="itemcls">
    <i class="bi bi-receipt" style="zoom: 1.5; margin-right: 4px;"></i>
    <span *ngIf="expanded">Billdetails</span>
    </div>
  </a>
</mat-nav-list>
