<div class="dash">
        <!-- <app-navbar style=""></app-navbar> -->
       <!-- <mat-drawer-container style="
    height: 100vh;
    width: 220vh;
">
         <mat-sidenav #sidenav mode="side" opened="true">
      <app-sidebar></app-sidebar>
      <p><button matButton (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    </mat-sidenav>
                <mat-drawer-content class=" mat-elevation-z10" >
                        <app-billing style="margin-top: 50px;"></app-billing>
                </mat-drawer-content>
        </mat-drawer-container> -->
 
      <app-navbar></app-navbar>
      <app-billing></app-billing>
      <app-billdetailspage></app-billdetailspage>
    <!-- <app-productlistpage></app-productlistpage> -->
   <!-- <app-billing style="margin-top: 50px;"></app-billing> -->
<!-- <mat-sidenav-container class="sidenav-container toolbar" >


  <mat-sidenav mode="side" opened [style.width]="'100vh'" [style.hight]="'100vh'" class="toolbar" >
      <app-sidebar ></app-sidebar>
  </mat-sidenav>


  <mat-sidenav-content [style.margin-left]="commonService.sideNavWith()">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

        
</div>
