<!-- <div class="dash">
 
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
        
</div> -->

<div>
  <app-navbar></app-navbar>
  <mat-sidenav-container class="sidenav-container" style="background-color: white !important; height: calc(100vh -0px) " autosize="false">
    
    <!-- Mini sidenav -->
    <mat-sidenav #leftSidenav 
                 mode="side" 
                 [opened]="true" 
                 [class.mini]="!commonService.Issidenav"
                 [class.expanded]="commonService.Issidenav"
                 class="app-sidenav">
      <app-sidebar [expanded]="onSideNavChange"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content
      [@onMainContentChange]="onSideNavChange == 'starting' ? 'start' : (onSideNavChange ? 'open': 'close')">

      <mat-card class="card_content">
  <div class="card-scroll">
    <router-outlet></router-outlet>
  </div>
</mat-card>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

